<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.select.school.mapper.MoneyMapper">
    <resultMap id="money" type="com.select.school.model.entity.Money">
        <result column="state" property="state"/>
        <result column="money_free" property="moneyFree"/>
    </resultMap>

    <select id="findByState" parameterType="com.select.school.model.entity.Money" resultType = "com.select.school.model.entity.Money">
        select m.state as state,m.money_free as moneyFree from d_money m
        where m.state = #{state}
    </select>

</mapper>