<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.select.school.mapper.OptionMapper">
    <resultMap id="option" type="com.select.school.model.entity.Option">
        <id column="id" property="id"/>
        <result column="problem_id" property="problemId"/>
        <result column="o_option" property="option"/>
        <result column="o_number" property="number"/>
        <result column="o_description" property="description"/>
        <result column="o_skip_down" property="skipDown"/>
        <result column="o_tl" property="tl"/>
        <result column="o_seq" property="seq"/>
    </resultMap>

    <select id="selectOne" resultMap="option">
        select * from d_option
    </select>

    <select id="selectProblemId"  resultMap="option">
        select id,problem_id,o_option,o_number,o_description,o_tl,o_seq
        from d_option where problem_id = #{problemId}
        ORDER BY o_seq asc
    </select>
</mapper>