<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.select.school.mapper.OrderMapper">
    <resultMap id="order" type="com.select.school.model.entity.Order">
        <id column="id" property="id"/>
        <result column="order_number" property="orderNumber"/>
        <result column="user_id" property="userId"/>
        <result column="total_fee" property="totalFee"/>
        <result column="state" property="state"/>
        <result column="create_time" property="createTime"/>
        <result column="openid" property="openid"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="create" parameterType="com.select.school.model.entity.Order">
        insert into d_order
            (order_number, user_id,total_fee, state, create_time, openid,update_time)
        values (#{orderNumber}, #{userId},#{totalFee}, #{state}, #{createTime},#{openid} ,#{updateTime})
    </insert>
    <update id="update" parameterType="com.select.school.model.entity.Order">
        update d_order
        <include refid="UpdateCriteria"/>
        <include refid="FindCriteria"/>
    </update>
    <update id="delete" parameterType="com.select.school.model.entity.Order">
        update d_order
        <include refid="UpdateCriteria"/>
    </update>
    <select id="selectAll" resultMap="order">
        select id, order_number, user_id,total_fee, state, create_time, openid,update_time from d_order
        <include refid="FindCriteria"/>
        <if test="order_by_column!=null and order_by_column!=''">order by ${order_by_column} ${order_by}</if>
        <if test="offset!=null and rows!=null">limit ${offset},${rows}</if>
    </select>

    <select id="count" parameterType="map" resultType="int">
        select count(*)
        from d_order
        <include refid="FindCriteria"/>
    </select>

    <select id="detail" parameterType="map" resultType="com.select.school.model.entity.Order">
        select id,nick_name,real_name,avatar_url,mobile,openid,unionid,email,create_time,update_time from d_order
        <include refid="FindCriteria"/>
    </select>

    <sql id="UpdateCriteria">
        <set>
            <if test="updateState != 0">state = #{updateState},</if>
            <if test="1 == 1">update_time = now(),</if>
        </set>
    </sql>
    <sql id="FindCriteria">
        <where>
            <if test="orderNumber != null and orderNumber != ''">and order_number like CONCAT('%', #{orderNumber, jdbcType=VARCHAR}, '%')</if>
            <if test="useId != null and userId != ''">and user_id like CONCAT('%', #{userId, jdbcType=VARCHAR}, '%')</if>
            <if test="openid != null and openid != ''">and openid like CONCAT('%', #{openid, jdbcType=VARCHAR}, '%')</if>
            <if test="start != null and start != ''">
                AND create_time >= #{start,jdbcType=TIMESTAMP}
            </if>
            <if test="end != null and end != ''">
                AND create_time &lt;= #{end,jdbcType=TIMESTAMP}
            </if>
        </where>
    </sql>
</mapper>