<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.select.school.mapper.ProblemMapper">
    <resultMap id="problemOption" type="com.select.school.model.dto.ProblemDTO">
        <id column="id" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="number" property="number"/>
        <result column="skip_up" property="skipUp"/>
        <result column="radio_checkbox" property="radioCheckBox" jdbcType="VARCHAR"/>

        <collection property="optionList" ofType="com.select.school.model.entity.Option">
            <result column="id" property="id" />
            <result column="problem_id" property="problemId"/>
            <result column="o_option" property="option" jdbcType="VARCHAR"/>
            <result column="o_number" property="number" jdbcType="VARCHAR"/>
            <result column="o_tl" property="tl" jdbcType="VARCHAR"/>
            <result column="o_skip_down" property="skipDown"/>
            <result column="o_description" property="description" jdbcType="VARCHAR"/>
            <result column="o_seq" property="seq" />
        </collection>
    </resultMap>
    <resultMap id="problem" type="com.select.school.model.entity.Problem">

        <id column="id" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="number" property="number"/>
        <result column="skip_up" property="skipUp"/>
        <result column="radio_checkbox" property="radioCheckBox" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectProblems" resultMap="problemOption">
        SELECT
	        p.id,
	        p.title,
	        p.description,
	        p.number,
	        p.radio_checkbox,
	        p.skip_up,
	        o.id,
			o.problem_id,
			o.o_option,
			o.o_number,
			o.o_description,
			o.o_skip_down,
			o.o_tl,
			o.o_seq
		from
		d_problem p LEFT JOIN d_option o
		on p.number = o.problem_id
		ORDER BY p.number asc,o.o_seq
    </select>


    <select id="selectAll" resultMap="problem">
        select * from d_problem
        <if test="order_by_column!=null and order_by_column!=''">order by ${order_by_column} ${order_by}</if>
        <if test="offset!=null and rows!=null">limit ${offset},${rows}</if>
    </select>

    <select id="count" parameterType="map" resultType="int">
        select count(id) from d_problem
    </select>

</mapper>