<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.select.school.mapper.WeightMapper">
    <resultMap id="option" type="com.select.school.model.entity.Weight">
        <id column="id" property="id"/>
        <result column="school_id" property="schoolId"/>
        <result column="scores_id" property="scoresId"/>
        <result column="ap_sat_weight" property="apSatWeight"/>
        <result column="ap_act_weight" property="apActWeight"/>
        <result column="ib_sat_weight" property="ibSatWeight"/>
        <result column="ib_act_weight" property="ibActWeight"/>
    </resultMap>

    <select id="selectWeightList" resultType="com.select.school.model.entity.Weight">
        select
        w.id,
        w.scores_id,
        w.ap_sat_weight,
        w.ap_act_weight,
        w.ib_sat_weight,
        w.ib_act_weight,
        w.school_id
        from d_weight w
    </select>

    <select id="selectIbActWeightDream" resultType="com.select.school.model.entity.Weight" parameterType="map">
        select
        w.id,
        w.scores_id,
        w.ap_sat_weight,
        w.ap_act_weight,
        w.ib_sat_weight,
        w.ib_act_weight,
        w.school_id,
        sas.id,
        sas.toeft_low_req,
        sas.ielts_low_req,
        sas.school_id,
        sas.tuition_fees,
        sas.nineteen,
        sas.first_students_num
        from d_school_admission_scores sas ,d_weight w
        where w.scores_id = sas.id
        <if test="ibActWeightMax!=null and ibActWeightMax!=0">
            <if test="required == 10">
                and sas.tuition_fees &lt; #{tuitionFees} and sas.first_students_num &gt; #{required}
                and sas.nineteen &gt; 50
                <if test="tl == 2">
                    and sas.toeft_low_req &lt;= #{toeflHigh} and sas.toeft_low_req &gt;= #{toeflLow}
                </if>
                <if test="tl == 1">
                    and sas.ielts_low_req &lt;= #{toeflHigh} and sas.ielts_low_req &gt;= #{toeflLow}
                </if>
                and w.ib_act_weight &gt;= #{ibActWeightMin} and w.ib_act_weight &lt;= #{ibActWeightMax}
            </if>
            <if test="required == 0">
                and sas.tuition_fees &lt; #{tuitionFees}
                <if test="tl == 2">
                    and sas.toeft_low_req &lt;= #{toeflHigh} and sas.toeft_low_req &gt;= #{toeflLow}
                </if>
                <if test="tl == 1">
                    and sas.ielts_low_req &lt;= #{toeflHigh} and sas.ielts_low_req &gt;= #{toeflLow}
                </if>
                and w.ib_act_weight &gt;= #{ibActWeightMin} and w.ib_act_weight &lt;= #{ibActWeightMax}
            </if>
            <if test="required == 50">
                and sas.tuition_fees &lt; #{tuitionFees} and sas.first_students_num &gt; #{required}
                <if test="tl == 2">
                    and sas.toeft_low_req &lt;= #{toeflHigh} and sas.toeft_low_req &gt;= #{toeflLow}
                </if>
                <if test="tl = 1">
                    and sas.ielts_low_req &lt;= #{toeflHigh} and sas.ielts_low_req &gt;= #{toeflLow}
                </if>
                and w.ib_act_weight &gt;= #{ibActWeightMin} and w.ib_act_weight &lt;= #{ibActWeightMax}
            </if>
        </if>
        <if test="apActWeightMax!=null and apActWeightMax!=0">
            <if test="required == 10">
                and sas.tuition_fees &lt; #{tuitionFees} and sas.first_students_num &gt; #{required}
                and sas.nineteen &gt; 50
                <if test="tl == 2">
                    and sas.toeft_low_req &lt;= #{toeflHigh} and sas.toeft_low_req &gt;= #{toeflLow}
                </if>
                <if test="tl == 1">
                    and sas.ielts_low_req &lt;= #{toeflHigh} and sas.ielts_low_req &gt;= #{toeflLow}
                </if>
                and w.ap_act_weight &gt;= #{apActWeightMin} and w.ap_act_weight &lt;= #{apActWeightMax}
            </if>
            <if test="required == 0">
                and sas.tuition_fees &lt; #{tuitionFees}
                <if test="tl == 2">
                    and sas.toeft_low_req &lt;= #{toeflHigh} and sas.toeft_low_req &gt;= #{toeflLow}
                </if>
                <if test="tl = 1">
                    and sas.ielts_low_req &lt;= #{toeflHigh} and sas.ielts_low_req &gt;= #{toeflLow}
                </if>
                and w.ap_act_weight &gt;= #{apActWeightMin} and w.ap_act_weight &lt;= #{apActWeightMax}
            </if>
            <if test="required == 50">
                and sas.tuition_fees &lt; #{tuitionFees} and sas.first_students_num &gt; #{required}
                <if test="tl == 2">
                    and sas.toeft_low_req &lt;= #{toeflHigh} and sas.toeft_low_req &gt;= #{toeflLow}
                </if>
                <if test="tl == 1">
                    and sas.ielts_low_req &lt;= #{toeflHigh} and sas.ielts_low_req &gt;= #{toeflLow}
                </if>
                and w.ap_act_weight &gt;= #{apActWeightMin} and w.ap_act_weight &lt;= #{apActWeightMax}
            </if>

        </if>
        <if test="ibSatWeightMax!=null and ibSatWeightMax!=0">
             <if test="required == 10">
                and sas.tuition_fees &lt; #{tuitionFees} and sas.first_students_num &gt; #{required}
                and sas.nineteen &gt; 50
                 <if test="tl == 2">
                     and sas.toeft_low_req &lt;= #{toeflHigh} and sas.toeft_low_req &gt;= #{toeflLow}
                 </if>
                 <if test="tl == 1">
                     and sas.ielts_low_req &lt;= #{toeflHigh} and sas.ielts_low_req &gt;= #{toeflLow}
                 </if>
                 and w.ib_sat_weight &gt;= #{ibSatWeightMin} and w.ib_sat_weight &lt;= #{ibSatWeightMax}
             </if>
            <if test="required == 0">
                and sas.tuition_fees &lt; #{tuitionFees}
                <if test="tl == 2">
                    and sas.toeft_low_req &lt;= #{toeflHigh} and sas.toeft_low_req &gt;= #{toeflLow}
                </if>
                <if test="tl == 1">
                    and sas.ielts_low_req &lt;= #{toeflHigh} and sas.ielts_low_req &gt;= #{toeflLow}
                </if>
                and w.ib_sat_weight &gt;= #{ibSatWeightMin} and w.ib_sat_weight &lt;= #{ibSatWeightMax}
            </if>
            <if test="required == 50">
                and sas.tuition_fees &lt; #{tuitionFees} and sas.first_students_num &gt; #{required}
                <if test="tl == 2">
                    and sas.toeft_low_req &lt;= #{toeflHigh} and sas.toeft_low_req &gt;= #{toeflLow}
                </if>
                <if test="tl == 1">
                    and sas.ielts_low_req &lt;= #{toeflHigh} and sas.ielts_low_req &gt;= #{toeflLow}
                </if>
                and w.ib_sat_weight &gt;= #{ibSatWeightMin} and w.ib_sat_weight &lt;= #{ibSatWeightMax}
            </if>
        </if>
        <if test="apSatWeightMax!=null and apSatWeightMax!=0">
            <if test="required == 10">
                and sas.tuition_fees &lt; #{tuitionFees} and sas.first_students_num &gt; #{required}
                and sas.nineteen &gt; 50
                <if test="tl == 2">
                    and sas.toeft_low_req &lt;= #{toeflHigh} and sas.toeft_low_req &gt;= #{toeflLow}
                </if>
                <if test="tl == 1">
                    and sas.ielts_low_req &lt;= #{toeflHigh} and sas.ielts_low_req &gt;= #{toeflLow}
                </if>
                and w.ap_sat_weight &gt;= #{apSatWeightMin} and w.ap_sat_weight &lt;= #{apSatWeightMax}
            </if>
            <if test="required == 0">
                and sas.tuition_fees &lt; #{tuitionFees}
                <if test='tl == 2'>
                    and sas.toeft_low_req &lt;= #{toeflHigh} and sas.toeft_low_req &gt;= #{toeflLow}
                </if>
                <if test='tl == 1'>
                    and sas.ielts_low_req &lt;= #{toeflHigh} and sas.ielts_low_req &gt;= #{toeflLow}
                </if>
                and w.ap_sat_weight &gt;= #{apSatWeightMin} and w.ap_sat_weight &lt;= #{apSatWeightMax}
            </if>
            <if test="required == 50">
                and sas.tuition_fees &lt; #{tuitionFees} and sas.first_students_num &gt; #{required}
                <if test='tl == 2'>
                    and sas.toeft_low_req &lt;= #{toeflHigh} and sas.toeft_low_req &gt;= #{toeflLow}
                </if>
                <if test='tl == 1'>
                    and sas.ielts_low_req &lt;= #{toeflHigh} and sas.ielts_low_req &gt;= #{toeflLow}
                </if>
                and w.ap_sat_weight &gt;= #{apSatWeightMin} and w.ap_sat_weight &lt;= #{apSatWeightMax}
            </if>
        </if>
        order by sas.nineteen asc
    </select>

    <select id="selectByScoreId" resultMap="option">
        select  w.id,
        w.scores_id,
        w.ap_sat_weight,
        w.ap_act_weight,
        w.ib_sat_weight,
        w.ib_act_weight,
        w.school_id
        from d_weight w
        where w.scores_id = #{scoreId}
    </select>
    <select id="selectById" resultMap="option">
        select  w.id,
        w.scores_id,
        w.ap_sat_weight,
        w.ap_act_weight,
        w.ib_sat_weight,
        w.ib_act_weight,
        w.school_id
        from d_weight w
        where w.id = #{id}
    </select>
</mapper>